@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  background-image: url(amazing-shot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}
form h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
form{
  text-align: left;
}
.container-a{
  background-color: rgba(157, 255, 0, 0.61);
  max-width: 500px;
  height: 100vh;
  padding: 40px;
  border-radius: 20px;
}
input {
  border-radius: 15px;
}

form p {
  font-family: 'Poppins', sans-serif;
  margin: 5px 0px 5px 0px;
  margin-top: 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}
.inTexto{
  
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  padding: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background: none;
  text-decoration: none;
}

#res1{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
}
#res4{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
}
#res2{
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
#res3{
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
div{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  
}

.subs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.sub{
  background-color: black;
  border: none;
  color: white;
  font-size: 17px;
  padding: 17px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.footer-main{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}